button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  padding: 6px 12px;
  white-space: nowrap;
  font-weight: 400;
}

.btn-primary {
  background: #01a14b;
  border-color: #01a14b;
  color: #fff;
}

.btn-primary:hover {
  background: #ff936a;
  border-color: #ff936a;
}

.btn-default{
  background: #01a14b;
  color: #fff;
}

.btn-lg {
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 36px;
}

.btn-md{
  font-size: 16px;
  padding: 0 20px;
  border-radius: 3px;
  float: right;
  position: relative;
  margin: 7px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
}

.btn-more {
  border-radius: 4px;
  background: #01a14b;
  padding: 6px 20px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-more:hover, .btn-default:hover {
  background-color: #009234;
  color: #ffffff;
}

.btn i{
  padding-left: 8px;
}

.product-add{
  margin-left: 10px;
  height: 50px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 0;
  background: #01a14b;
  border-radius: 4px;
  color: #fff;
  border: 2px solid #01a14b;
  border-right-color: #212121;
  border-bottom-color: #212121;
}

.product-add:hover, .product-add:active{
  background-color: #009234;
}

.product-add.btn-buy-disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.btn.btn-icon-center {
  width: 100%;
  max-width: calc(50% - 7px);
  height: 36px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
