/* Flex section */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.f-center{
    justify-content: center;
}

.f-end{
    justify-content: flex-end;
}

.f-align_center{
    align-items: center;
}

.f-row{
    flex-direction: row;
}

.f-column{
    flex-direction: column;
}

.f-space_between{
    justify-content: space-between;
}

.f-space_evenly{
    justify-content: space-evenly;
}

/* Padding and Margin section */

.margin-auto_h{
    margin: 0 auto;
}

.m-t10 {
    margin-top: 10px;
}

.m-b10{
    margin-bottom: 10px;
}

.m-b14{
    margin-bottom: 14px;
}

.m-t14{
    margin-top: 14px;
}

.m-t20{
    margin-top: 20px;
}

.m-b20{
    margin-bottom: 20px;
}

.m-l20{
    margin-left: 20px;
}

.m-t30{
    margin-top: 30px;
}

.m-b30{
    margin-bottom: 30px !important;
}

.p-tb5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-l10{
    padding-left: 10px;
}

.p-r10{
    padding-right: 10px;
}

.p-lr10{
    padding-left:10px;
    padding-right:10px;
}

.p-t10{
    padding-top: 10px;
}

.p-tb10{
    padding-top:10px;
    padding-bottom:10px;
}

.p-b15{
    padding-bottom: 15px;
}

.p-l15{
    padding-left: 15px;
}

.p-lr15{
    padding-left:15px;
    padding-right:15px;
}

.p-tb15{
    padding-top:15px;
    padding-bottom:15px;
}

.p-lr16{
    padding-left: 16px;
    padding-right: 16px;
}

.p-tb16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-b16{
    padding-bottom: 16px;
}

.p-b20{
    padding-bottom: 20px;
}

.p-t30{
    padding-top: 30px;
}

/* Position section  */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* Format tag style  */
a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--primary-color);
}

ul {
  list-style-type: none;
}

img {
    width: 100%;
}

.product-card img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.borderblack{
    border: 1px solid var(--black-color);
}
