/* Flex section */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.f-center{
    justify-content: center;
}

.f-align_center{
    align-items: center;
}

.f-row{
    flex-direction: row;
}

.f-column{
    flex-direction: column;
}

.f-space_between{
    justify-content: space-between;
}

.f-space_evenly{
    justify-content: space-evenly;
}

/* Padding and Margin section */

.margin-auto_h{
    margin: 0 auto;
}

/* Position section  */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* Format tag style  */
a {
    text-decoration: none;
    color: #fff;
}

ul {
  list-style-type: none;
}

img {
    width: 100%;
}


.borderblack{
    border: 1px solid #000;
}