
thead th {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  position: sticky;
  top: 0;
  background-color: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  background-color: #fff;
}
td {
    border-top: 1px solid #dddddd;
    padding: 5px;
}

.summary td{
    background-color: #fff;
    position: sticky;
    bottom: 0;
}


/*Cart table */

.cart-content .item {
  max-width: 200px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

.cart-content .item strong {
  color: var(--black-color);
}

.cart-content .delete {
  text-align: right;
  padding-right: 30px;
}
.cart-content .item a:hover strong,
.cart-content .delete:hover {
  color: var(--primary-color) !important;
}

.image .product-image {
  max-height: 100px;
}

.product-image img {
  max-width: 50px;
  height: 100%;
  width: unset;
  object-fit: cover;
  vertical-align: middle;
}

.qty .input-quantity {
  width: 64px;
  text-align: center;
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  color: #808080;
  border: 1px solid var(--c-gray-color);
  outline: none;
  padding-left: 15px;
}

input[type="text"].input-quantity {
  border: 0;
  padding: 0;
}

.summary .sum {
  text-align: center;
}

label[for="noteCartMessage"] {
  font-weight: 700;
  color: var(--black-color);
}

/* Order table */
.customer-order .order-number,
.customer-order .date-order,
.customer-order .payment-status,
.customer-order .fulfill-status,
.customer-order .total {
  text-align: center;
}

.customer-order th {
  font-size: 16px;
}

.customer-order td {
  padding: 10px;
}
