.site-topbar {
  background-color: #01a14b;
  height: 50px;
}
.site-topbar .container {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}

.account .divider{
  display: inline;
}

.account a:hover{
  color: #e2e2e2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-header {
  background-color: #f7f7f9;
}
.site-header .container {
  padding: 15px 0;
}

.search-text{
  width: 95%;
  height: 40px;
  border: 1px solid #009234;
  border-radius: 30px;
  padding: 0 50px 0 10px;
  font-size: 14px;
  line-height: 48px;
}
.search-text:focus-visible {
  outline: none;
}
.search-btn {
  right: 15px;
  top: 0;
  z-index: 2;
  width: 60px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #009234;
  border-radius: 0px 30px 30px 0;
  background: #009234;
  color: #fff;
  outline: 0;
  transition: all 0.2s;
  font-size: 20px;
}

.shopping-cart a {
  padding: 0 10px;
}

.cart-icon {
  margin-right: 20px;
}

.cart-icon:first-child {
  font-size: 38px;
  color: #01a14b;
}
.quantity{
  width: 18px;
  height: 18px;
  line-height: 15px;
  text-align: center;
  top: -5px;
  right: -16px;
  background-color: #ffffff;
  color: #009234;
  font-size: 14px;
  border: 1px solid #009234;
  border-radius: 50%;
}
.cart-info {
  color: #171516;
}
.cart-info:hover {
  color: #01a14b;
}
.cart-info h2 {
  font-size: 20px;
  font-weight: 700;
}
.cart-info p {
  font-size: 14px;
}

.site-nav {
  width: 100%;
  border-bottom: 1px solid #777777;
}
.site-nav .container {
  padding: 0 80px;
}

.site-nav .container nav ul li {
  padding: 14px 15px;
}
.site-nav .container a {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
}

.site-nav a:hover{
  color: #01a14b;
}

.site-nav a.active{
  color: #01a14b;
}

