.list-products {
}

.list-products-wrapper {
}

/* Categories start */
.categories {
  padding: 0 15px;
}

.category-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 3px solid var(--e0-gray-color);
}

.category-list li {
  border-bottom: 1px solid var(--e0-gray-color);
  padding: 10px 15px;
  cursor: pointer;
}

.category-list li span {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-black-5);
}

.category-list li:hover span {
  color:var(--primary-color);;
}

/* List products start */
.list-pro {
}

.list-pro-title {
  float: left;
  font-size: 22px;
  color: var(--black-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
}

.list-pro-filtes {
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: 300;
}
.filter-content {
  float: right;
}

.custom-dropdown {
  width: 180px;
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  margin-left: 2px;
  border-radius: 5px;
}

.custom-dropdown__select {
  border: 1px solid var(--primary-color);;
  color: #000;
  padding: 4px 35px 4px 10px;
  border-radius: 30px;
  background-color: #fff;
}

.custom-dropdown__select:focus {
  border: 1px solid var(--primary-color);;
  outline: 0;
}

.product-container {
  transition: 0.25s ease;
}

.product-container:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.product-card {
  padding: 0 15px;
  height: 370px;
}

.product-sale {
  right: -20px;
  top: -18px;
  z-index: 2;
}

.sale-icon {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url("../../images/logo/discount.webp") no-repeat center;
  background-size: contain;
  text-align: center;
}

.sold-out {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  color: var(--primary-color);;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.pro-img {
  max-height: 195px;
}

.product-detail {
  padding: 5px 15px;
  text-align: center;
}

.product-name {
  font-weight: 400;
  color: var(--black-color);
  font-size: 24px;
  line-height: 24px;
}

.product-name a {
  color: var(--black-21-color);
  font-size: 16px;
  text-overflow: ellipsis;
  width: 100%;
  float: left;
  text-align: center;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}

.product-name a:hover {
  color:var(--primary-color);;
}

.product-prices .price {
  display: inline-block;
}

.price-new {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);;
  margin-right: 4px;
}

.price-old {
  text-decoration: line-through;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: 300;
}

@media (min-width: 200px) and (max-width: 576px) {
  .product-card {
    padding: 0 5px;
    height: 335px;
  }
  .img {
    height: 275px;
  }
}


