.main-img {
  display: none;
  animation-name: showSlide;
  animation-duration: 1.5s;
}

.main-img span {
  color: rgba(255, 255, 255, 0.4);
  font-size: 50px;
  top: 50%;
  padding: 6px;
  transform: translateY(-50%);
  cursor: pointer;
}

.main-img span:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
}

.main-img .next {
  right: 10px;
}
.main-img .prev {
  left: 10px;
}

#policy {
  padding: 15px 0;
  background-color: #f7f7f9;
}

.policy-img {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 10px;
}
.policy-img .img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.policy-img .info {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  width: calc(100% - 70px);
  text-align: center;
}

.policy-img .info p {
  margin: unset;
}

#products {
  padding-top: 40px;
  background-color: #f7f7f7;
}

.pro-nav ul li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin: 0 26px;
}

.pro-nav ul li a {
  display: inline-block;
  color: var(--text-black-3);
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}
.pro-nav ul li:hover a,
.pro-nav ul li.active a {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

@keyframes showSlide {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.pro-list {
  background-color: #f7f7f7;
  width: 100%;
  padding: 20px 0 40px 0;
}

.list-content {
  opacity: 0;
  display: none;
  margin: 3em 0;
  opacity: 1s ease-out;
}

.list-content.active {
  opacity: 1;
  display: flex;
}

.product-container {
  transition: 0.25s ease;
}

.product-container:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.product-card {
  padding: 0 15px;
  height: 370px;
}

.product-sale {
  right: -20px;
  top: -18px;
  z-index: 2;
}

.sale-icon {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url("../../images/logo/discount.webp") no-repeat center;
  background-size: contain;
  text-align: center;
}

.sold-out {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  color: var(--primary-color);
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.pro-img {
  max-height: 195px;
}

.product-detail {
  padding: 5px 15px;
  text-align: center;
}

.product-name {
  font-weight: 400;
  color: var(--black-color);
  font-size: 24px;
  line-height: 24px;
}

.product-name a {
  color: var(--black-21-color);
  font-size: 16px;
  text-overflow: ellipsis;
  width: 100%;
  float: left;
  text-align: center;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}

.product-name a:hover {
  color: var(--primary-color);
}

.product-prices .price {
  display: inline-block;
}

.price-new {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  margin-right: 4px;
}

.price-old {
  text-decoration: line-through;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: 300;
}

#post {
  width: 100%;
  height: 110vh;
  padding: 20px 0;
}

.posts-header {
  text-align: center;
  padding: 50px 0 30px 0;
}

.posts-header h2 {
  font-size: 24px;
  color: var(--black-color);
  text-transform: uppercase;
}

.post-container {
  width: 30%;
  height: 600px;
  float: left;
}

.nav-btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.nav-btn.nav-prev {
  left: 0;
}

.nav-btn.nav-next {
  right: 0;
}

@media (min-width: 200px) and (max-width: 576px) {
  #policy .container .flex > div {
    padding: 0 5px !important;
  }
  .policy-img .img {
    width: 30px;
    height: 30px;
  }
  #policy .info {
    font-size: 10px;
    line-height: 1.4;
    width: calc(100% - 40px);
  }
  .pro-nav ul li {
    margin: 0 16px;
  }
  .pro-nav ul li a {
    font-size: 12px;
    font-weight: 700;
  }
  .product-card {
    padding: 0 5px;
    height: 335px;
  }
  .img {
    height: 275px;
  }
}
