

.s_product-title h1{
    color: var(--black-21-color);
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
}

.s_product-content strong{
    color: var(--text-black-5);
    display: inline-block;
}

.s_product-price {
    height: 66px;
    line-height: 66px;
    display: inline-block;
    color: var(--primary-color);
    font-size: 30px;
}

.s_product-price span{
    font-weight: 400;
}

.s_product-price del{
    font-size: 28px;
    color: var(--b0-gray-color);
}

.s_product-subtitle .box-info{
    max-width: 800px;
}


.box-info strong {
    min-width: 137px;
}

.box-info span {
    display: inline-block;
}

.s_product-action .select-quantity{
    display: inline-block;
}

.select-quantity .qty-minus, .select-quantity .qty-plus{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    padding: 0px;
    font-size: 20px;
    width: 45px;
    height: 50px;
    background-color: var(--text-black-3);
    color: var(--white-color);
    border: 1px solid transparent;
    float: left;
}

.qty-minus{
    border-radius: 4px 0px 0px 4px !important;
}
.qty-plus{
    border-radius: 0 4px 4px 0 !important;
}

.quantity-selector{
    font-size: 15px;
    width: 45px;
    height: 50px;
    margin: 0;
    text-align: center;
    border: none;
    float: left;
    line-height: normal;
    border-radius: 0;
    border-right: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
    outline: none;
    background-color: var(--text-black-3);
    color: var(--white-color);
}

.s_product-meta{
    font-size: 13px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;
    color: var(--gray-color-78);
    margin-top: 20px;
    border-color: var(--ea-gray-color);
}

.s_product-meta p{
    color: var(--text-black-3);
    font-weight: 600;
    text-transform: uppercase;
}

.s_product-meta p a{
    font-weight: 400;
    color: var(--text-black-5);
}

.s_product-meta p a:hover{
    color: var(--primary-color);
}

.s_product-reference {
    border-top: 1px solid var(--e5-gray-color);
}

.title-reference{
    text-align: center;
    margin-bottom: 30px;
}

.title-reference span{
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
    text-transform: uppercase;
    display: inline-block;
}

.product-container{
    transition: 0.25s ease;
  }
  
  .product-container:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: translate3d(0, -2px, 0);
  }
  
  .product-card {
    padding: 0 15px;
    height: 370px;
  }
  
  .product-sale{
    right: -20px;
    top: -18px;
    z-index: 2;
  }
  
  .sale-icon{
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url("../../images/logo/discount.webp") no-repeat center;
    background-size:contain;
    text-align: center;
  
  }
  
  .sold-out{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    color: var(--primary-color);
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(255,255,255, 0.8);
    text-align: center;
  }
  
  .img{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 295px;
    object-fit: cover;
  }
  
  .pro-img{
    max-height: 195px;
  }
  
  .product-detail {
    padding: 5px 15px;
    text-align: center;
  }
  
  .product-name{
    font-weight: 400;
    color: var(--black-color);
    font-size: 24px;
    line-height: 24px;
  }
  
  .product-name a {
    color: var(--black-21-color);
    font-size: 16px;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
    text-align: center;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .product-name a:hover {
    color: var(--primary-color);
  }
  
  .product-prices .price{
    display: inline-block;
  }
  
  .price-new {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    margin-right: 4px;
  }
  
  .price-old{
    text-decoration: line-through;
    font-size: 14px;
    color: var(--b0-gray-color);
    font-weight: 300;
  }